{% extends 'paginas_base/base.html' %}

{% block titulo %}Página de Inicio {% endblock titulo %}
{% block contenido %}
    <div class="p-5 mb-4 bg-light rounded-3">
            <div style="background-color: rgb(25, 181, 253);">
        <div class="container-fluid py-5">
            <div style="background-color: rgb(25, 181, 253);">
        <h1 class="display-5 fw-bold">Bienvenido a Nuestra Paguina </h1>
        <p class="col-md-15 fs-4">Esta es la paguina donde te enteras de que es la programacion y pides tu paguina web</p>
        <h2 class="col-md-5 fs-3">
        </div>
    </div>
    
    <style>
        h1{text-align: center; margin-top: 10px; padding-top: 2px;}
        p{text-align: center; margin-top: 10px; padding-top: 2px;}
        h2{text-align: center; margin-top: 10px; padding-top: 2px;}
    </style>

{% endblock contenido %}