{% extends 'paginas_base/base.html' %}

{% block titulo %}Página Nosotros {% endblock titulo %}
{% block contenido %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">¿Que es la progrmacion?</h1>
        <p class="lead my-3">La programacion es un proceso que involucra el diseño, codificación, mantenimiento, y protección de cualquier fuente de programas.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">continuar leyendo...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">¿Que es la programacion?</h3>
              <p class="card-text mb-auto">Quieres saber que es la programacion solo apreta continuar.</p>
              <a href="#" class="stretched-link">Continuar </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">El origen de la programacion</h3>
              <p class="mb-auto">Quieres saber el origen de la programacion solo apreta continuar.</p>
              <a href="#" class="stretched-link">Continuar</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
      </div>
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
        <h1 class="display-5 fst-italic">El origen de la programacion</h1>
        <p class="lead my-3">Para hablar del origen de la programación nos tenemos que remontar hasta 1801, año en el que Joseph Marie Jacquard inventó el primer sistema de programación: un programa introducido en un telar que leía el código y permitía tejer unas figuras determinas.</p>
        <p class="lead my-3">En 1833, treinta años después, Charles Babbage crea la conocida como máquina diferencial, capaz de resolver no solo sumas y restas, sino también ecuaciones.</p>
        <p class="lead my-3">Fue en 1957 cuando el conocido científico John W. Backus creó Fortran, el primer lenguaje de programación conocido que tenía como fin realizar cálculos numéricos y científicos de manera eficiente.</p>
        <p class="lead my-3">En la década de 1970 surgieron varios lenguajes de programación importantes que tuvieron un impacto significativo en el desarrollo de software:</p>
        <p class="lead my-3">.Pascal: un lenguaje de programación que surgió para enseñar a los alumnos y que se sigue utilizando hoy en día.</p>
        <p class="lead my-3">.Lenguaje C: inventado por Dennis Ritchie en 1972. Se sigue utilizando hoy en día.</p>
        <p class="lead my-3">.Lenguaje C++: aparece en 1979 con el fin de ampliar el lenguaje C.</p>
        </div>
    </div>

{% endblock contenido %}